node_modules/
.expo/
.expo-shared/
dist/
web-build/
eas-build/
.npmcache/

.env
.env.local
.env.*.local

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

.DS_Store
Thumbs.db

.idea/
.vscode/

ios/
android/

*.log
.cache/